<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<p>Bonjour,</p>
<p>Votre étudiant <b><span th:text="${usernameEtudiant}"></span></b> a déposé <b><span th:text="${typeDepot}"></span></b> le <b><span th:text="${dateDepot}"></span></b></p>
<p>Veuillez accéder à la plateforme des PFE pour traiter le dépot.</p>
<p>Ci-joint les détailles du dépot :</p>
<p th:text="${'Email Etudiant: ' + emailEtudiant}"></p>
<p th:text="${'Type du dépot: ' + typeDepot}"></p>
<p th:text="${'Déposé le: ' + dateDepot}"></p>
<p>Cordialement.</p>

</body>
</html>