<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<p>Bonjour,</p>
<p>Une nouvelle demande de stage effectué.</p>
<p>Veuillez accéder à la plateforme des PFE pour traiter la Demande de stage.</p>
<p>Ci-joint les détailles de la Demande de Stage :</p>
<p th:text="${'Nom et prenom Etudiant : ' + nom_prenomEtudiant}"></p>
<p th:text="${'Email Etudiant : ' + emailEtudiant}"></p>
<p th:text="${'Option : ' + optionEtudiant}"></p>
<p th:text="${'Nom Societe : ' + nomSociete}"></p>
<p th:text="${'Adresse Société : ' + adresseSociete}"></p>
<p th:text="${'Téléphone Société : ' + telephoneSociete}"></p>
<p th:text="${'Email Société : ' + emailSociete}"></p>
<p th:text="${'Encadrant Société : ' + encadrantSociete}"></p>
<p th:text="${'Encadrant Académique : ' + encadrantAcademique}"></p>
<p th:text="${'Date début stage : ' + dateDebutStage}"></p>
<p th:text="${'Date fin stage : ' + dateFinStage}"></p>
<p th:text="${'Date demande stage : ' + dateDemande}"></p>
<p>Cordialement.</p>

</body>
</html>